on boot
    chown system system /sys/class/backlight/acpi_video0/brightness

    setkeycode 0xb1 138
    setkeycode 0x8a 152
    setkeycode 0x8e 389
    setkeycode 0x88 226

service userinit /system/bin/sh /system/etc/init.sh
    oneshot
    disabled

on property:dev.bootcomplete=1
    start userinit
